
input[type="text"] {
	border: 1px solid gainsboro;
	font-size: 15px;
	height: 29px;
	width: 40%;
}
input[type="submit"] {
	background-color: white;
	border: 1px solid gainsboro;
	font-size: 15px;
	height: 29px;
}
#main_body > #search_value {
	text-align: left;
}
#search_value a {
	font-size: 20px;
	margin: 10px 0;
}
#search_value p {
	margin: 0;
}
#search_value h5 {
	margin: 0;
}
.BroweForFile > p {
	display: inline-table;
	margin-top: 4px;
	padding-left: 16px;
}
#main_body form {
	text-align: center;
}